# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/

# CocoaPods
example/ios/Podfile.lock
example/macos/Podfile.lock

# Swift Package Manager
example/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
example/ios/Runner.xcworkspace/xcshareddata/swiftpm/
example/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
example/macos/Runner.xcworkspace/xcshareddata/swiftpm/

# Windows temp files
nul
